section.section.info.box
  header.info__title Some Rules of this Quiz
  ul.info__list
    each rule, index in rules
      li.info__list-item #{index + 1}. #{rule}
  footer.info__actions 
    button.btn.quit.info__btn.info__btn-quit Quit Quiz
    button.btn.start.info__btn.info__btn-start Continue