section.section.result.box
  .result__icon
    svg
      use(href="./images/sprite.svg#crown" fill="var(--primary)")
  .result__info 
    .result__text You've completed the Quiz!
    .result__score Your score is 25%
  .result__actions
    button.btn.result__btn.result__btn-start Replay Quiz
    button.btn.result__btn.result__btn-quit Quit Quiz