.btn {
  padding: 11px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: $text-color-light;
  background-color: $primary;

  &:hover {
    filter: brightness(1.2) drop-shadow(0 2px 2px $primary);
  }
}
