.btn {
  padding: 11px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  color: $light;
  background-color: $primary;

  &:hover {
    background-color: aqua;
  }
}
