extends common/layout.pug

block variables
  -var page = 'index'

block content
  main.main
    .container.centered
      include includes/index/greeting.pug
      include includes/index/info.pug
      include includes/index/quiz.pug
      include includes/index/result.pug
