extends common/layout.pug

block variables
  -var page = 'index'

block content
  main.main
    .container
      section.section.greeting.active
        button.greeting__btn.btn Start Quiz
      section.section.info.box
        header.info__title Some Rules of this Quiz
        ul.info__list
          li.info__list-item
            | 1. You will have only
            span 15 seconds
            | per each question.
          li.info__list-item 2. After you check an answer, it can't be undone.
          li.info__list-item 3. You can't select any option once time goes off.
          li.info__list-item 4. You can't exit from the Quiz while you're playing.
          li.info__list-item 5. You'll get points on the basis of your correct answers.
        footer.info__actions 
          button.btn.quit.info__btn.info__btn-quit Quit Quiz
          button.btn.start.info__btn.info__btn-start Continue
      section.section.quiz.box
        header.quiz__header 
          .quiz__header-text Awesome Quiz Application
          .timer
            .timer__text Time Left
            .timer__time
          .timeline.quiz__timeline 
        .quiz__body
          .quiz__question
          ul.quiz__ans-list
        footer.quiz__reaction 
          .quiz__result
            |
            span.quiz__que-passed 1
            | of 
            span.quiz__que-count
            | Questions
          button.btn.quiz__btn-next Next Que
          button.btn.quiz__btn-result Show results
      section.section.result.box.card
        .result__icon
          svg
            use(href="./images/sprite.svg#crown" fill="var(--primary)")
        .result__info 
          .result__text You've completed the Quiz!
          .result__score Your score is 25%
        .result__actions
          button.btn.result__btn-start Replay Quiz
          button.btn.result__btn-quit Quit Quiz
