@import url("../utils/variables");

@define-mixin tablets {
  @media (max-width: $tablets) {
    @mixin-content ;
  }
}

@define-mixin phones {
  @media (max-width: $phones) {
    @mixin-content ;
  }
}

@define-mixin minphones {
  @media (max-width: $minphones) {
    @mixin-content ;
  }
}
